{% comment %}

  wso_footer.html

  160815 / TiM
  - the same as the default footer.html
  - footer heading commented out
  - contact list updated

{% endcomment %}

<footer class="site-footer">

  <div class="wrapper">

{% comment %}
    <h2 class="footer-heading">{{ site.title }}</h2>
{% endcomment %}

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">

{% comment %}        
          <li>{{ site.title }}</li>
{% endcomment %}

          <li>Web-selainohjelmointi, syksy 2016</li>
          <li>TiM @ <a href="http://www.tut.fi/pori">pori</a>.<a href="http://www.tut.fi/">tut.fi</a></li>
          
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
